body, html {
  height: 10%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/the-creative-exchange-d2zvqp3fpro-unsplash.jpg);
  background-size: cover;
  height: 70vh;
}

.hero-text {
  list-style-type: none;
}

.hero-contact ul li img{
width: 40vh;
border-radius: 200px;
margin-top: 20px;

}.hero-contact ul {
  list-style-type: none;
  padding: 10px
}

.hero-contact li a, .hero-contact li  {
  text-decoration: none;
  font-size: 30px;

}

/* CONTENT */
.tech, .feature-projects, .my-thought-about-code, .skills, .for-more {
  display: flexbox;
  flex-direction: column;
}

.section-titles{
  background-color: red;
  color: white;
  width: 200px;
  align-items: center;

}
.introduction-text {
  background-color: rgba(196, 196, 196, 0.2);
  padding : 20px 0px
}
.tech{
  padding : 20px 0px
}
.feature-projects{
  background-color: rgba(196, 196, 196, 0.2);
  padding : 20px 0px
}
.my-thought-about-code{
 padding: 20px 0px;
}
.skills {
  background-color: rgba(196, 196, 196, 0.2);
  list-style-type: none;
  padding : 20px 0px
}
.for-more{
  padding : 20px 0px
}
footer {
  background-color: blue;
  color: white;
  padding : 20px 0px
}

@media (min-width: 900px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero-text {
    padding-right: 30%;
  }
 
}