body, html {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* all content for hero */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/backgrounds/martin-jernberg-qie9wa-YLK8-unsplash.jpg);
  background-size: cover;
  backdrop-filter: blur(9px);
  height: 130vh;
  padding-top: 40px;
}

.hero-text {
  list-style-type: none;
}

.my-name {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
  
}
.portfolio {
  border-bottom: 3px solid red;
  font-size: 40px;
  color: blanchedalmond;

}

.previous-job-title {
  font-size: 40px;
  color: whitesmoke;
}

.job-title{
  font-size: 40px;
  color: blanchedalmond;
}
.profile-pic {
  width: 30vh;
  border-radius: 200px;
  border: 3px solid white;
  display: inline-flex;
  position: absolute;
  transform: translate(-50%, 30%)
}
.social-links{
  display: inline-flex;
  position: absolute;
  transform: translate(-50%, -50%);
}
.social-links a img {
  width: 40px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 60px;
  margin: 20px;
}
.social-links img:hover {
  width: 50px;
  border: 3px solid red;
}
.hero-contact ul {
  list-style-type: none;
  padding: 10px 0px
}

.hero-contact li a, .hero-contact li  {
  text-decoration: none;
  font-size: 30px;
}

/* CONTENT */


/* common styles */
.tech, 
.feature-projects, 
.my-thought-about-code, 
.skills, 
.for-more {
  display: flex;
  flex-direction: column;
}

.tech h2, 
.feature-projects h2, 
.my-thought-about-code h2,
.skills h2,
.for-more h2 {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  border-radius: 7px;
  
}


/* introduction text */
.introduction-text {
  background-color: rgba(196, 196, 196, 0.2);
  padding : 0px 80px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* tech */
.tech{
  padding : 20px 0px
}
.tech h2 {
  margin : 0 35vw;
}
.tech-content{
  word-spacing: 10px;
  font-size: 25px;
}
.git-link {
  color: red;
}

.project-tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 9px;
}

.project-tech div {
  margin: 3px;
  padding: 2px 2px;
  text-align: center;
  border-radius: 5px;
  background-color: #7dd1e0;
  align-self: center;
}
/* featured projects */
.feature-projects{
  background-color: rgba(196, 196, 196, 0.2);
  padding : 20px 0px
}
.feature-projects h2 {
  margin: 0 10vw
}

.my-projects{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.my-projects img {
  height: 180px;
}
.my-projects h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

/* my thought about code */
.my-thought-about-code{
 padding: 20px 0px;
}
.my-thought-about-code h2 {
  margin: 0 5vw
}

/* my skills */
.skills {
  background-color: rgba(196, 196, 196, 0.2);
  list-style-type: none;
  padding : 20px 0px;
}

.skills h2 {
  margin: 0 30vw;
}
.divided-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* for more */
.for-more{
  padding : 10px 0px;
}

.for-more h2 {
  margin: 0 25vw;
}

.for-more img {
  width : 50px;
  border: 4px solid red;
  padding: 20px;
  border-radius: 60px;
  margin: 50px;
}

.for-more img:hover {
  width: 60px;
  border: 4px solid rgb(8, 70, 106);
}

.divided-skills h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif
}

/* footer */
footer {
  background-color: rgb(8, 70, 106);
  color: whitesmoke;
  padding : 20px 0px
}


/* all media queries */

@media (min-width: 700px) {
  .portfolio{
    padding-top: 10px;
  }
  .hero-container {
  height: 120vh;
  }
  .profile-pic {
    width: 30vh;
    border-radius: 200px;
    border: 3px solid white;
    display: inline-flex;
    position: absolute;
    transform: translate(-50%, 5%)
  }
  .social-links{
    display: inline-flex;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .tech h2 {
    margin : 0 40vw;
  }
  .feature-projects h2 {
    margin: 0 30vw
  }
  .my-thought-about-code h2 {
    margin: 0 25vw
  }
  .skills h2 {
    margin: 0 40vw;
  }
  .for-more h2 {
    margin: 0 40vw;
  }
  .divided-skills {
    display: flex;
    flex-direction: row;
  }
  .profile-pic {
    border-radius: 300px;
    margin-top: 40px;
  }
}
@media (min-width: 1100px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 70vh;
    padding-top: 0;
    text-align: left;
  }
 
  .hero-text {
    text-align:  left;
  }

  .hero-contact {
    padding-left: 150px;
  }

  .for-more{
    display: flex;
    padding : 40px 0px;
  }

  .for-more h2 {
    margin: 0 43vw;
  }

  .tech h2 {
    margin : 0 35vw;
  }
  .tech {
    padding: 20px 100px;
  }
  .feature-projects h2 {
    margin: 0 37vw
  }

  .my-thought-about-code h2 {
    margin: 0 33vw
  }

  .skills h2 {
    margin: 0 45vw;
  }

  .my-projects{
    display: flex;
    flex-direction: row;
  }
  .introduction-text {
    background-color: rgba(196, 196, 196, 0.2);
    padding : 70px 80px
  }
  .profile-pic {
    width: 30vh;
    border-radius: 200px;
    border: 3px solid white;
    display: inline-flex;
    position: absolute;
    transform: translate(-60%, 20%)
  }
  .social-links{
    display: inline-flex;
    position: absolute;
    transform: translate(-60%, -90%);
  }
  
}